<mat-card>
	<div class="bg-white float-right p-4 w-100">
		<div class="button-row">
			<button mat-raised-button color="primary" (click)="openDialog()">Add Route</button>
		</div>
	</div>

	<table class="table table-striped">
		<thead>
		<tr>
			<th scope="col">Route Number</th>
			<th scope="col">Description</th>
			<th scope="col">Client Price</th>
			<th scope="col">Price Basic</th>
			<th scope="col">Contractor</th>
			<th scope="col">Actions</th>
		</tr>
		</thead>
		<tbody>
		<tr *ngFor="let route of routes; index as i">
			<td>{{ route.routeNumber }}</td>
			<td>{{ route.description }}</td>
			<td>{{ route.clientPrice }}</td>
			<td>{{ route.priceBasis }}</td>
			<td>{{ route.contractor }}</td>
			<td>
				<ng-template ngxPermissionsOnly="canEditECommerceData">
					<button mat-icon-button color="primary" (click)="goToEditRoutes(route._id)" matTooltip="Edit customer">
						<mat-icon>create</mat-icon>
					</button>&nbsp;
				</ng-template>

				<ng-template ngxPermissionsOnly="canDeleteECommerceData">
					<button mat-icon-button
							(click)="deleteRoute(route._id)"
							color="warn"
							matTooltip="Delete customer"
							type="button">
						<mat-icon>delete</mat-icon>
					</button>&nbsp;
				</ng-template>
			</td>
		</tr>
		</tbody>
	</table>

</mat-card>
